.typeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(255 255 255/10%);
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.half {
  position: absolute;
  width: 25px;
  height: 12.5px;
  bottom: 0;
  top: 0;
  rotate: 180deg;
  border-radius: 0 0 50% 50%/0 0 100% 100%;
}
.item-colorful {
  width: 25px;
  height: 25px;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(216, 66, 210, 1) 15%,
    rgba(66, 89, 216, 1) 35%,
    rgba(66, 215, 216, 1) 50%,
    rgba(66, 216, 68, 1) 65%,
    rgba(205, 216, 66, 1) 85%,
    rgba(216, 66, 66, 1) 100%
  );
  border-radius: 50%;
  position: relative;
  rotate: 45deg;
}
