.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}
.icon {
  transition: ease 0.2s;
  height: 25px;
  width: 25px;
}
.icon-heart,
.icon-cart,
.icon-filters,
.icon-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: #7668cb;
  border-radius: 2px;
  transition: 0.2s ease;
  cursor: pointer;
}
.cart {
  position: relative;
}

.icon-heart,
.icon-cart,
.icon-search {
  margin-right: 10px;
}
.icon path {
  fill: var(--text-primary);
}
.icon-opened {
  rotate: 180deg;
}
.filter-left,
.filter-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filters-container {
  font-size: 14px;
  padding: 5px;
  position: absolute;
  top: 35px;
  left: 0px;
  background-color: var(--inputs);
  border-radius: 5px;
  z-index: 1;
}
.filter-box {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: var(--text-primary);
  position: relative;
  cursor: pointer;
}
.item {
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.25s;
}
.search-btn {
  display: none;
}
@media screen and (min-width: 1050px) {
  .filters {
    background-color: rgba(121, 121, 121, 0.1);
    border-radius: 5px;
  }
  .icon-filters {
    display: none;
  }
  .icon-cart {
    margin-right: 0px;
  }
  .item:hover {
    background-color: rgba(119, 119, 119, 0.25);
  }
  .icon-heart:hover {
    background-color: #e71fb8;
  }
  .icon-cart:hover {
    background-color: #e71fb8;
  }
  .icon-search:hover {
    background-color: #e71fb8;
  }
  .search-btn {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search {
    display: none;
  }
}
