.item {
  background-color: rgba(121, 121, 121, 0.1);
  min-height: 210px;
  padding: 10px;
}
.listItems {
  padding-left: 15px;
  position: relative;
  color: var(--grey);
}
.listItems::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  background: #7668cb;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}
.subcont {
  margin: 10px 0;
}
@media screen and (min-width: 675px) {
  .item {
    min-height: 180px;
  }
}
